In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
movieDf = pd.read_csv('movies.csv')
movieDf.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
ratingsDf = pd.read_csv('ratings.csv')
ratingsDf.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [10]:
tagsDf = pd.read_csv('tags.csv')
tagsDf.head()

   userId  movieId              tag
0       2    60756            funny
1       2    60756  Highly quotable
2       2    60756     will ferrell
3       2    89774     Boxing story
4       2    89774              MMA

In [12]:
movieDf.genres =

<bound method Series.unique of 0       Adventure|Animation|Children|Comedy|Fantasy
1                        Adventure|Children|Fantasy
2                                    Comedy|Romance
3                              Comedy|Drama|Romance
4                                            Comedy
5                             Action|Crime|Thriller
6                                    Comedy|Romance
7                                Adventure|Children
8                                            Action
9                         Action|Adventure|Thriller
10                             Comedy|Drama|Romance
11                                    Comedy|Horror
12                     Adventure|Animation|Children
13                                            Drama
14                         Action|Adventure|Romance
15                                      Crime|Drama
16                                    Drama|Romance
17                                           Comedy
18                                           Comedy
19               Action|Comedy|Crime|Drama|Thriller
20                            Comedy|Crime|Thriller
21              Crime|Drama|Horror|Mystery|Thriller
22                            Action|Crime|Thriller
23                                     Drama|Sci-Fi
24                                    Drama|Romance
25                                            Drama
26                                   Children|Drama
27                                    Drama|Romance
28           Adventure|Drama|Fantasy|Mystery|Sci-Fi
29                                      Crime|Drama
                           ...
9712                          Comedy|Fantasy|Sci-Fi
9713         Action|Adventure|Comedy|Fantasy|Sci-Fi
9714                                    Crime|Drama
9715                                 Comedy|Romance
9716                                         Comedy
9717                       Adventure|Comedy|Fantasy
9718                                   Comedy|Drama
9719                                    Documentary
9720                      Action|Adventure|Thriller
9721                          Action|Crime|Thriller
9722                                  Action|Sci-Fi
9723                             Comedy|Crime|Drama
9724                                Sci-Fi|Thriller
9725                                  Drama|Romance
9726                                         Comedy
9727                                          Drama
9728                                          Drama
9729                                      Animation
9730                                    Documentary
9731                 Action|Adventure|Comedy|Sci-Fi
9732                 Action|Animation|Comedy|Sci-Fi
9733                                Animation|Drama
9734                                   Comedy|Drama
9735                                      Animation
9736                                    Documentary
9737                Action|Animation|Comedy|Fantasy
9738                       Animation|Comedy|Fantasy
9739                                          Drama
9740                               Action|Animation
9741                                         Comedy
Name: genres, Length: 9742, dtype: object>